<div class="container mt-5">
    <h4>Internal Server Error - Refreshing the page will make the excpetion disappear</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error:{{error.message}}</h5>
        <p class="font-weight-bold">Note: if you are seeing this angular is not responsible</p>
        <p>What to do next?</p>
        <ol>
            <li>Open Chrome dev tools</li>
            <li>INspect the network tab</li>
            <li>Check the failing request</li>
            <li>Examine the request URL - make sure this is correct</li>
            <li>Reproduce the error in postman - if we the same response in Postman, then the issue is NOT with angular
            </li>
        </ol>
        <p>Follwing in the stack trace - this is where your investigation should start!</p>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </ng-container>

</div>